html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #0f8cdf;
    font-size: 20px;
    margin-bottom: 10px;
}

header,
main {
    width: 290px;
    margin: 0 auto;
}

header {
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.profile-pic {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

.tweet-input {
    border: none;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    margin: 0 0 20px 0;
    resize: none;
}

.tweet-btn {
    background-color: #1da1f2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}

.tweet {
    margin: 15px 0;
    border-top: 1px solid #bcbcbc;
    padding: 20px 0 0 0;
}

.tweet-inner {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-handle {
    margin-top: 0;
    font-size: 12px;
    color: #555;
    font-weight: 500;
}

.tweet-text {
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

.tweet-details {
    display: flex;
    font-size: 13px;
    gap: 30px;
}

.tweet-detail {
    display: flex;
    gap: 4px;
}

.tweet-reply {
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    margin: 10px 0 10px 48px;
}

.fa-solid,
.fa-regular {
    color: #999;
    cursor: pointer;
    font-size: 15px;
}

.liked {
    color: red;
}

.retweeted {
    color: lightgreen;
}

.hidden {
    display: none;
}
