html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #0f8cdf;
    font-size: 20px;
    margin-bottom: 10px;
}

header,
main {
    width: 290px;
    margin: 0 auto;
}

header {
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.profile-pic {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

.tweet-input {
    border: none;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    margin: 0 0 20px 0;
    resize: none;
}

.tweet-btn {
    background-color: #1da1f2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}

.tweet {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
    border-top: 1px solid #bcbcbc;
    padding: 15px 0;
}

.tweet-handle {
    margin-top: 0;
}
